name: "Verify type labels"

on:
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

jobs:
  triage:
    runs-on: ubuntu-20.04
    steps:
      - uses: zwaldowski/match-label-action@v2
        with:
          allowed: 'type:fix, type:features, type:documentation, type:tests, type:config'